<!DOCTYPE html>
<html class="h-full bg-gray-900">
  <head>
    <title>HireMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full">
    <%= render "shared/navbar" %>
    <div class="min-h-screen pt-16">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
